<%- include('../includes/header.ejs') %>
<div class="pokemons">
    <img src="../../static/img/mail_bg.png">
    <p> Дякуємо за реєстрацію: <%= user.name %> <%= user.surname %>! </p>
    <p> Ваш вік: <%= user.age %> </p>
    <p> Ваш емейл: <%= user.email %> </p>
    <p> Ваш пароль: <%= password %> </p>
</div>
<%- include('../includes/footer.ejs', {SITE}) %>
