<%- includes("../includes/header.ejs") %>
<div class="pokemons">
    <%= user.name %>
    <%= user.email %>
    <%= user.age %>
    <%= password %>
</div>
<%- includes("../includes/footer.ejs" ,{SITE}) %>
